todo.md
test.py
examples-test.py
voice_test.py
main-api.py
cprint.py
/cogs/
/data/
/exportToHTML/
/dist/
/docs/_build/
./discord.py_message_components.egg-info
/build/
.idea
__pycache__
*.pyc
# Default ignored files
/shelf/
workspace.xml
/loca-tests/