include README.rst
include LICENSE.txt
include discord/*
include discord/types/*
include discord/oauth2/*
include discord/bin/*.dll
include discord/ext/commands/*
include discord/ext/tasks/__init__.py

prune .git
prune docs
prune examples
prune tests
exclude discord/bin/COPYING
exclude .flake8
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .prettierrc
exclude .readthedocs.yml
exclude CHANGELOG.md
exclude FUNDING.yml
exclude requirements-dev.txt